<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.agtsci.mapper.OrderMapper">

    <!--创建订单-->
    <update id="createOrder">
        update t_order set count = 1 where id = 123
    </update>

</mapper>
